
services:
  reefmodengine_runner:
    build: 
      context: .
      dockerfile: ./docker/Dockerfile
      no_cache: true
    container_name: reefmodengine_runner
    volumes:
      # maybe move these all into /app
      - ./run_example.jl:/app/run_script.jl
      - ./target_locations.csv:/app/target_locations.csv  # this must match location in run_example.jl
      - ./example_outs:/app/outputs  # this must match location in run_example.jl