
services:
  reefmodengine_runner:
    build: 
      context: .
      dockerfile: ./docker/Dockerfile
      no_cache: false #true
    container_name: reefmodengine_runner
    environment:
      # RME_PATH: "/app/rme"  # path inside container where RME data files are mounted
      # OUTPUTS_PATH: "/app/outputs"  # path inside container where outputs are mounted

      TARGET: "MEDIUM"
      RUN_NAME: "Example"
      START_YEAR: "2022"
      END_YEAR: "2099"  # must match run_example.jl
      RCP_SCEN: "SSP 2.45"
      GCM: "CNRM_ESM2_1"
      REPS: "1"  # number of repeats

    volumes:
      - ./rme:/app/rme
      - ./example_outs:/app/outputs  # this must match location in run_example.jl